## Linear Regression

### Single Variable

In [1]:
import pandas as pd

df = pd.read_csv('home_prices.csv')
df.head()

   area_sqr_ft  price_lakhs
0          656         39.0
1         1260         83.2
2         1057         86.6
3         1259         59.0
4         1800        140.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   area_sqr_ft  12 non-null     int64
 1   price_lakhs  12 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 320.0 bytes

In [4]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(df[['area_sqr_ft']],df['price_lakhs'])

LinearRegression()

In [6]:
model.predict([[1500]])

C:\Users\Rakesh_PC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([95.56913434])

In [7]:
model.coef_

array([0.05168176])

In [8]:
model.intercept_

18.046501102723433

## Multiple Variables

In [9]:
df = pd.read_csv('home_prices.csv')
df.head()

   area_sqr_ft  price_lakhs  bedrooms
0          656         39.0         2
1         1260         83.2         2
2         1057         86.6         3
3         1259         59.0         2
4         1800        140.0         3

In [10]:
df[['area_sqr_ft','bedrooms']]

    area_sqr_ft  bedrooms
0           656         2
1          1260         2
2          1057         3
3          1259         2
4          1800         3
5          1325         2
6          1085         3
7          1110         2
8          1700         3
9           960         2
10         1800         3
11          700         2

In [11]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(df[['area_sqr_ft','bedrooms']],df['price_lakhs'])

LinearRegression()

In [12]:
model.predict([[1500,3]])

C:\Users\Rakesh_PC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([106.82967328])

In [13]:
model.coef_

array([2.66959723e-02, 3.10399604e+01])

In [14]:
model.intercept_

-26.334166207939006

In [18]:
test = pd.DataFrame([
    {'area_sqr_ft' : 1500 , 'bedrooms':2},
    {'area_sqr_ft' : 1800 , 'bedrooms':3},
    {'area_sqr_ft' : 1200 , 'bedrooms':3}
])

In [17]:
model.predict(test)

array([ 75.78971293, 114.83846497,  98.82088159])

In [21]:
test2 = pd.DataFrame(
    {'area_sqr_ft' :[1500,1650,1700] ,
     'bedrooms':[2,3,3]},
    
)

In [22]:
model.predict(test2)

array([ 75.78971293, 110.83406912, 112.16886774])